name: Deploy to ECR

# Configure the trigger for the workflow.
on:
  push:
    branches:
      - main

# Define environment variables for the workflow.
env:
  ECR_REPOSITORY: "vector-quant-monitor"
  AWS_REGION: "ap-southeast-1"
  DOCKERFILE_NAME: "Dockerfile"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Check out the code from your repository.
      - name: Checkout repository
        uses: actions/checkout@v3

      # Step 2: Set up QEMU for multi-architecture builds.
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      # Step 3: Set up Docker Buildx for multi-architecture builds.
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Step 4: Configure AWS credentials.
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      # Step 5: Log in to Amazon ECR.
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      # Step 6: Get and increment the latest image tag.
      - name: Get and increment image tag
        id: get-tag
        run: |
          LATEST_TAG=$(aws ecr describe-images --repository-name ${{ env.ECR_REPOSITORY }} \
            --query 'sort_by(imageDetails,& imagePushedAt)[-1].imageTags[0]' \
            --output text --region ${{ env.AWS_REGION }} 2>/dev/null || echo "0")
          
          if [[ "$LATEST_TAG" =~ ^[0-9]+$ ]]; then
            NEW_TAG=$((LATEST_TAG + 1))
          else
            NEW_TAG=1
          fi
          
          echo "NEW_TAG=$NEW_TAG" >> $GITHUB_ENV
          
          echo "The latest image tag is: $LATEST_TAG"
          echo "The new image tag will be: $NEW_TAG"

      # Step 7: Build, tag, and push the Docker image for arm64.
      - name: Build and push Docker image
        run: |
          docker buildx build \
            --platform linux/arm64 \
            -f ${{ env.DOCKERFILE_NAME }} \
            -t ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ env.NEW_TAG }} \
            --push . \
            --no-cache

